@CHARSET "UTF-8";

.wrap {
	width: 1240px;
	margin: 0 auto;
}

#container {
	background: rgba(76, 76, 76, 0.51);
	text-align: center;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#effect {
	text-align: center;
}

#scroll-btn {
	background: rgba(76, 76, 76, 0.51);
	border: 0px;
}

#start-button {
	width: 300px;
}

video {
	position: fixed;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	z-index: -1;
}

#title {
	font-size: 100px;
	font-weight: bold;
	color: white;
	padding: 100px;
}

.sort_css {
	width: 142px;
	min-height: 30px;
	list-style-type: none;
	margin-left: 8px;
	padding: 5px 0 0 0;
	float: left;
	margin-right: 10px;
}

.sort_css li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.2em;
	float: left;
	width: 134px;
}

#logo {
	padding-left: 5%;
}

html {
	position: relative;
}

#form-control {
	padding: 6px 15px;
	font-size: 14px;
}

.btn-default-logo {
	font-weight: 900;
	color: white;
	font-size: 22px;
}

.btn-default-logo-side {
	font-weight: 900;
	color: white;
	font-size: 20px;
	border: none;
	background: none;
	padding-bottom: 8px;
}

.thumb-image {
	float: left;
	width: 100px;
	position: relative;
	padding: 5px;
}

#profile-border {
	border: 1px solid lightgray;
	padding: 2px;
}

.add-card-btn {
	text-align: left;
	width: 85%;
	margin: 0 auto;
	margin: 5px;
	background: rgba(0, 0, 0, 0);
	border: 1px solid #f6f6f6;
}

.btn-group-sm {
	padding-left: 20px;
}

.card_wrap {
	text-align: center;
	margin: 0 auto;
	overflow: auto;
	float: left;
	max-height: 550px;
	background: #E2E4E6;
	border-radius: 0 0 3px 3px;
	margin: 0px 5px 5px 5px;
}

.card_wrap_top {
	/* margin-top: 20px; */
	text-align: center;
	float: left;
	width: 180x;
	/* border: 1px solid; */
	/*  background: #E2E4E6; */
	border-radius: 3px;
	margin: 5px;
}

#top {
	width: 834px;
	float: left;
	margin-bottom: 40px;
}

#card-container {
	float: left;
	width: 850px;
	height: 600px;
	overflow: auto;
}

.list_name {
	margin-top: 5px;
	width: 150px;
	background: 0 0;
	word-wrap: break-word;
	overflow: hidden;
	border: none;
	border-radius: 3px;
	box-shadow: none;
	font-weight: 700;
	height: 24px;
	min-height: 18px;
	padding: 3px 5px;
	resize: none;
	max-height: 16pc;
}

.card_margin {
	margin: 0px 15px 0px 15px;
	border-radius: 7px 7px;
}

#cardmodal {
	color: black;
}

.btn-cardlist {
	background: #c5c5c5;
	color: #fff;
	width: 170px;
	font-weight: bold;
}

#myModalLabel {
	text-align: center;
}

.collapse-list {
	float: left;
	color: black;
	padding: 19px;
	background-color: #f5f5f5;
	border: 1px solid #c5c5c5;
}

.btn-info {
	color: white;
	background-color: #5bc0de;
	border-color: #46b8da;
	margin-top: 5px;
	margin-bottom: 5px;
	border: 1px solid transparent;
}

#cardlists {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#cardlists li {
	float: left;
	text-align: center;
}

/* 채팅창 css*/
.direct-chat-messages {
	color: #333;
}

#chat-image {
	/* border: 1px solid black; */
	color: azure;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
}

#chat-image-area {
	/* border: 1px solid black; */
	
}

#chat-image-area-canvas {
	/* border: 1px solid black; */
	float: left;
	cursor: crosshair;
}

#chat-image-area-colors {
	margin: 0;
	padding: 0;
	list-style: none;
}

#chat-image-area-colors li {
	height: 20px;
	width: 20px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: inline;
	cursor: pointer;
	float: left;
}

#chat-image-area-colors li.selected {
	height: 18px;
	width: 18px;
	display: inline;
	border: solid 1px #eee;
}

#chat-image-area-tool {
	clear: left;
	/* border:1px solid black; */
	width: 250px;
}

#chat-image-area-tool-brush {
	float: left;
}

#chat-image-area-tool-control {
	clear: left;
}

#chat-image-list {
	/* border:1px solid black; */
	
}

#chat-image-list-header {
	/*    border:1px solid black; */
	
}

#chat-image-list-display {
	padding: 7px;
	border-radius: 10px;
	weight: 250px;
	height: 500px;
	overflow: auto;
}

#chat-image-list-display button {
	margin-right: 10px;
	margin-top: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-right: 6px;
	padding-left: 2px;
	margin-left: 10px;
	margin-bottom: 5px;
}

#chat-image-list-display button img {
	width: 40px;
	height: 40px;
}

#chat-image-list-display button.selected {
	margin-right: 10px;
	margin-top: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
	background-color: cornflowerblue;
	padding-right: 6px;
	padding-left: 2px;
	margin-left: 10px;
	margin-bottom: 5px;
	border: 2px solid;
}

#chat-image-list-display button.selected img {
	width: 40px;
	height: 40px;
}

#chat-image-list-control {
	/*    border:1px solid black; */
	
}

.regis-button-center {
	margin: 0px 115px;
}

.update-hidden-box {
	border: 1px solid coral;
	padding: 3px 0px 0px 9px;
}

/*web-kit 관련*/
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #555;
}

/* slider bar */
input[type=range] {
	/*removes default webkit styles*/
	-webkit-appearance: none;
	/*fix for FF unable to apply focus style bug */
	border: 1px solid white;
	/*required for proper track sizing in FF*/
	width: 300px;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 300px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: #026AA7;
	margin-top: -4px;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}

input[type=range]::-moz-range-track {
	width: 300px;
	height: 5px;
	background: #ddd;
	border: none;
	border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: azure;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
	outline: 1px solid white;
	outline-offset: -1px;
}

input[type=range]::-ms-track {
	width: 300px;
	height: 5px;
	/*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
	background: azure;
	/*leave room for the larger thumb to overflow with a transparent border */
	border-color: transparent;
	border-width: 6px 0;
	/*remove default tick marks*/
	color: azure;
}

input[type=range]::-ms-fill-lower {
	background: #777;
	border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
	background: #ddd;
	border-radius: 10px;
}

input[type=range]::-ms-thumb {
	border: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	background: azure;
}

input[type=range]:focus::-ms-fill-lower {
	background: #888;
}

input[type=range]:focus::-ms-fill-upper {
	background: #ccc;
}

.alert-warning {
	width: 100% !important;
	text-align: center !important;
}